.root {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 30px;
}

.logo {
  background-image: url('./imgs/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 60px;
  background-position: center;
}